    <div class="flex items-center justify-between mb-10">
        <h1 class="text-5xl font-bold text-gray-900">Workouts Kanban</h1>
        <div class="cursor-pointer w-10 h-10 bg-gray-900 text-white rounded-full flex justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <line x1="12" y1="5" x2="12" y2="19" />
                <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
        </div>
    </div>

    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6">
        <div class="rounded">
            <div class="mb-6 flex items-center justify-between">
                <h3 class="text-2xl font-semibold text-gray-900">Workouts</h3>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-700 icon icon-tabler icon-tabler-dots" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <circle cx="5" cy="12" r="1" />
                    <circle cx="12" cy="12" r="1" />
                    <circle cx="19" cy="12" r="1" />
                </svg>
            </div>

            <div class="w-full h-full py-3 px-2 bg-gray-200 rounded-lg">
            	<% 3.times do %>
                    <%= render :partial => "kanboard_item" %>
                <% end %>
            </div>
        </div>
        <div class="rounded">
            <div class="mb-6 flex items-center justify-between">
                <h3 class="text-2xl font-semibold text-gray-900">For review</h3>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-700 icon icon-tabler icon-tabler-dots" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <circle cx="5" cy="12" r="1" />
                    <circle cx="12" cy="12" r="1" />
                    <circle cx="19" cy="12" r="1" />
                </svg>
            </div>
            <div class="w-full h-full py-3 px-2 bg-gray-200 rounded-lg">
            	<% 3.times do %>
                     <%= render :partial => "kanboard_item" %>
                <% end %>
            </div>
        </div>
        <div class="rounded">
            <div class="mb-6 flex items-center justify-between">
                <h3 class="text-2xl font-semibold text-gray-900">Completed</h3>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-700 icon icon-tabler icon-tabler-dots" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <circle cx="5" cy="12" r="1" />
                    <circle cx="12" cy="12" r="1" />
                    <circle cx="19" cy="12" r="1" />
                </svg>
            </div>
            <div class="w-full h-full py-3 px-2 bg-gray-200 rounded-lg">
            	<% 3.times do %>
                     <%= render :partial => "kanboard_item" %>
                <% end %>
            </div>
        </div>
   