<div class="exercise-card w-full max-w-sm bg-white border border-gray-200 shadow dark:bg-gray-700 dark:border-gray-700" style="top: 21%;">
    <div class="flex justify-end px-4 pt-4">
        <button id="dropdownButton" onClick="$(this).parent().parent().find('#dropdown').toggle();" class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
            <span class="sr-only">Open dropdown</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path></svg>
        </button>
    </div>

        <h5 class="b-2 font-bold tracking-tight text-gray-900 dark:text-white text-center grow"><%= @workout_name %></h5>
            <!-- Dropdown menu -->
        <div id="dropdown" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 shadow w-44 dark:bg-gray-700" style="position: absolute;">
            <ul class="py-2" aria-labelledby="dropdownButton">
                <li>
                    <button data-url="<%= add_exercises_user_programs_path(current_user) %>" class="add-exercise-to-program block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Add Exercises </button>
                </li>
                <li>
                    <button onClick="$(this).closest('.exercise-card').remove();" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</button>
                </li>
            </ul>
        </div>
        
        <div class="flex justify-center exercise-list">
            <ul class="">
                
            </ul>
        </div>
</div>