<div class="hidden relative w-full flex">
    <input id='workoutName' type="text" data-url="<%=add_program_workout_user_programs_path(current_user) %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name Workout (ex. Leg Day)" required>

    <button id='addWorkout' data-url="<%=add_program_workout_user_programs_path(current_user) %>" type="button" class="text-white bg-gray-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-5 py-2.5  dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Add</button>
</div>

<div id='workoutSection' class="grid grid-cols-7">
</div>