<div class="hidden relative w-full flex">
    <input id='workoutName' type="text" data-url="<%=add_program_workout_user_programs_path(current_user) %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name Workout (ex. Leg Day)" required>

    <button id='addWorkout' data-url="<%=add_program_workout_user_programs_path(current_user) %>" type="button" class="px-4 inline-flex text-white items-center min-w-fit rounded-r-md border border-l-0 border-gray-200 bg-gray-50 text-sm bg-slate-800 border-gray-700">Add</button>
</div>

<div id='workoutSection' class="grid grid-cols-1 mt-5">
</div>