<div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-12 bg-gray-50 dark:bg-gray-700 rounded dark:bg-gray-700 dark:text-gray-400" style="border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;">
        
    <div class="flex items-center justify-end" style="background: linear-gradient(180deg, #374151, #374151b0); box-shadow: 3px 2px 13px 3px #2b3c57;     height: 58px;">
        <div class="flex grow">
            <%= link_to  user_programs_path(current_user), class: "text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" do %>
            Programs
            <% end %>
        </div>
        <div class="grow" style="">
            <button id='save' data-url="<%= user_programs_path(current_user) %>" type="button" class="float-right hidden text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Save</button>
        </div>
                <% unless local_assigns[:hide_delete] == true %>
        <div class="flex grow  justify-end">
            <%= button_to  user_program_path(current_user), class: "text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700", method: :delete do %>
            Delete
            <% end %>
        </div>
        <% end %>
    </div>

</div>