var html = `<%=j render :partial => 'add_exercises' %>`


$("#exerciseModal").remove()


$("#program").append(html)
$("#program").find("#exerciseModal").slideDown("slow");

$("#addExercises").on('click', function(){

	var url = $(this).data('url')
	payload = {'exercises': []}
	$(".exercise-checkbox:checked").each(function(){
		payload['exercises'].push(this.name)
	})
	$.ajax({
		url: url,
		data: payload,
		success: function(data) {
			debugger;
			$("#exerciseModal").remove()
			$(".target").closest("#dropdown").hide()
			var ul = $(".target").closest(".exercise-card").find(".exercise-list > ul")
			for(var i = 0; i < data.length; i++){
				var li_el = `<li class="text-center text-white w-full border-b-2 border-neutral-100 border-opacity-100 py-4 dark:border-opacity-50" style='padding: 0;'>
			                    ${i + 1} - ${data[i].name}
			                </li>`
			    ul.append(li_el)
			}
		}
	})
})