<div class="container">
  <h5> Hi <%= current_user.name %> </h5>
  <h4> Users </h4>
</div>

<%= turbo_stream_from @room %>
	<div class="relative w-full p-6 overflow-y-auto h-[40rem]">
		<ul id="messages" class="space-y-2">
     </ul>
	
<%= render partial: 'messages/message_bar' %>
</div>