<div class="flex items-center justify-between mb-10">
    <h1 class="text-5xl font-bold text-gray-900">Workouts</h1>
</div>
<%= render :partial => "links", locals: {active: :new} %>
<div id='target'>
    <%= render :partial => 'workouts/create/form' %>
</div>