<div class="flex items-center justify-between mb-10">
    <h1 class="text-5xl font-bold text-gray-900">New Exercises</h1>
</div>
<%= render :partial => 'links', locals: {active: :new} %>
<div class="relative overflow-x-auto m-5">
<%= render 'form' %>
</div>